<ul class="nav nav-pills nav-stacked">
    {{#each this}}
    <li>
      <a class="{{#if loggedin}}good{{else}}bad{{/if}}" href="/snippets/{{handle}}">
        {{handle}}
      </a>
    </li>
    {{/each}}
</ul>
