<ul class="nav nav-pills nav-stacked">
    {{#each this}}
    <li>
      <a href="/snippets/{{handle}}">
        <span class="{{#if loggedin}}good{{else}}bad{{/if}} glyphicon glyphicon-record"></span>
        {{handle}}
      </a>
    </li>
    {{/each}}
</ul>
