[js-comments] table {
  margin-bottom: 0;
}

[js-comments] td:first-child {
  background-color: #fafafa;
}
[js-comments] .date {
  float: right;
}

[js-comments] span:last-child {
  display: none;
}

[js-users] li {
  padding-bottom: 5px;
}

.glyphicon.good,
.glyphicon.bad {
  position: relative;
  top: 3px;
}

.glyphicon.good {
  color: green;
}

.glyphicon.bad {
  color: red;
}

.syntaxhighlighter table td.code .line.commented {
  background-color: beige !important;
}

.nav > li {
  margin: 0;
  padding: 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 3px 15px;
}
