[js-post] {
  margin: 0 0 15px 0;
}

[js-comments] table {
  margin-bottom: 0;
}

[js-comments] td:first-child {
  background-color: #fafafa;
}
[js-comments] .date {
  float: right;
}

[js-comments] span:last-child {
  display: none;
}

[js-users] li {
  padding-bottom: 5px;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.syntaxhighlighter table td.code .line.commented {
  background-color: beige !important;
}

.nav > li {
  margin: 0;
  padding: 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 3px 15px;
}
